@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');

html, body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #191919;
}
.style-h2 {

    p {
        font-size: 18px;
        color: #F94D1C;
        margin-bottom: 20px;
    }
    
    h2 { 
        font-family: 'DM Sans', sans-serif;
        font-size: 45px;
        font-weight: bold;
    }
}
.btn {
    text-decoration: none;
    padding: 12px 25px;
    font-weight: 600; 
    font-size: 16px;
    border-radius: 25px;

    i{
        margin-left: 8px;
    }
}
.btn.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;

    &:hover {
        background-color: #191919;
        border-color: #191919;
        color: #f8f8f8
    }
}
.btn.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;

    &:hover {
        background-color: #191919;
        color: #f8f8f8
    }
}
.btn.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #f8f8f8;

    &:hover {
        background-color: transparent;
        border: 1px solid #191919;
        color: #191919;
    }

}
header {
    background-color: #F0EFE9;
    padding: 15px;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;


        .menu {
            flex: 1;

            .contact-menu {
               display: flex;
               justify-content: space-between;
               align-items: center;
               border-bottom: 2px solid #DAD9D3;
               padding-bottom: 10px;


                .contact-information {
                    display: flex;
                    align-items: center;
                    
                    .content {
                        padding: 0px 25px 0px 0px;
                        border-right: 2px solid #DAD9D3;
                        margin-right: 25px;

                        i{
                            font-size: 1.3em;
                            margin-right: 8px;
                        }

                        &.last {
                            border: none;
                        }
                    }
                }

                .social-media {

                    a {
                        color: #191919;
                        font-size: 1.3em;
                        margin: 8px;

                        &:hover {
                            color: #afafaf;
                        }
                    }
                }

            }
            .main-menu {
                display: flex;
                justify-content:space-between;
                align-items: center;
                padding-top: 20px;

                nav {

                     a {
                        text-decoration: none; 
                        color: #191919;
                        margin-right: 30px;
                        position: relative;

                        &.active {
                            font-weight: 500;
                        }

                        &.active::after,
                        &:hover::after {
                            content: '';
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 40%;
                            bottom: -3px;
                        }

                    }
                }
            }
                
         
            
        }
    }
}
.showcase {
    background-color: #F0EFE9;


    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            align-items: center;

            h1 {
                font-family: 'DM Sans', sans-serif;
                font-size: 86px;
                font-weight: bold;
            }

            p {
                font-size: 20px;
            }

            a {
                margin: 20px 20px 0px 0px;
                
            }
        }

        img {
            margin-right: -60px;
        }
    }
}
.logotype {
    padding-top: 120px;
    padding-bottom: 90px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.features {
    padding-top: 90px;
    padding-bottom: 90px;

    .container {
        padding: 60px;

        .features-content {
            display: flex;
            justify-content: space-between;
            align-items: start;

            p {
                font-size: 18px;
                color: #F94D1C;
            }

            h2 {
                font-family: 'DM Sans', sans-serif;
                font-size: 45px;
                font-weight: bold;
            }
            a {
                
                display: block;
                text-align: center;
                margin-top: 15%;
            }


            .box-info {
                
                justify-content: center;
                align-items: center;
                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 40px;
                column-gap: 50px;
                margin-left: 10%;

               .box {

                img {
                    margin-bottom: 30px;
                }

                h4 {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: bold;
                }
                p {
                    color: #191919;
                }
               }
            }
        }
    }
}
.about-company {
    display: flex;
    padding-top: 120px;
    padding-bottom: 90px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: start;



        .column-left {
            position: relative;
           
            .founder {
                background-color: #BEEBFF;
                height: 180px;
                width: 360px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                padding: 16px;

                position: absolute;
                left: -60px;
                bottom: 10%;
                
                .box {
                    display: flex;
                    align-items: center;
                    
                    h5 {
                        font-family: 'DM Sans', sans-serif;
                        font-size: 20px;
                        font-weight: bold;
                    }

                    p {
                        font-family: 'DM Sans', sans-serif;
                        font-size: 16px;
                        font-weight: bold;
                        color:#F94D1C;
                        margin-left: 8px;
                        margin-bottom: 6px;
                    }
                }
            }


        }

        .column-right {
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            height: 100%;
            padding: 0 10%;

            .buttons {
                align-items: center;
                margin-bottom: 30px;
                
                a {

                    .btn-video {
                        
                        
                    }
            
                }
            
            }
        }
    }
}
.our-services {
    padding-top: 120px;
    padding-bottom: 90px;
    background-color: #F0EFE9;

    .container {

        .style-h2 {
            margin-bottom: 50px;
        }

        .service-boxes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;

            column-gap: 30px;
            padding: 30px;

            .business-box{
                background-color: #f8f8f8;
                padding: 30px;
                position: relative;

                    &.active::after {
                        content: '';
                        position: absolute;
                        font-weight: 500;
                        height: 2px;
                        width: 40px;
                        background-color: #191919;
                        left: 30px;
                        top: 40px;

                    }
                h4 {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: bold;
                    margin-top: 50px;
                }

                p {
                    margin-bottom: 50px;
                }
// fixa till knappen, ska inte gå att trycka utanför ikonen
                a {
                    display: block;
                    text-align: right;
                    color: #191919;

                    i {
                        font-size: 2em;
                    }
                }
            }

            .startup-box{
                background-color: #F9D783;
                padding: 30px;
                position: relative;

                    &.active::after {
                        content: '';
                        position: absolute;
                        font-weight: 500;
                        height: 2px;
                        width: 40px;
                        background-color: #191919;
                        left: 30px;
                        top: 40px;
                    }
                

                h4 {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: bold;
                    margin-top: 50px;
                }

                p {
                    margin-bottom: 50px;
                }
// fixa till knappen, ska inte gå att trycka utanför ikonen
                a {
                    display: block;
                    text-align: right;
                    color: #191919;

                    i {
                        font-size: 2em;
                    }
                }
            }

            .financial-box{
                background-color: #f8f8f8;
                padding: 30px;
                position: relative;

                    &.active::after {
                        content: '';
                        position: absolute;
                        font-weight: 500;
                        height: 2px;
                        width: 40px;
                        background-color: #191919;
                        left: 30px;
                        top: 40px;
                    }

                h4 {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: bold;
                    margin-top: 50px;
                }

                p {
                    margin-bottom: 50px;
                }
// fixa till knappen, ska inte gå att trycka utanför ikonen
                a {
                    display: block;
                    text-align: right;
                    color: #191919;

                    i {
                        font-size: 2em;
                    }
                }
            }

            .risk-box{
                background-color: #f8f8f8;
                padding: 30px;
                position: relative;

                    &.active::after {
                        content: '';
                        position: absolute;
                        font-weight: 500;
                        height: 2px;
                        width: 40px;
                        background-color: #191919;
                        left: 30px;
                        top: 40px;

                    }

              h4 {
                font-family: 'DM Sans', sans-serif;
                font-size: 22px;
                font-weight: bold;
                margin-top: 50px;
               }

              p {
                margin-bottom: 50px;
               }
// fixa till knappen, ska inte gå att trycka utanför ikonen
              a {
                    display: block;
                    text-align: right;
                    color: #191919;

                    i {
                        font-size: 2em;
                    }
                }
            }

        }
    }
    .btn-browse {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            margin-top: 30px;
        }
    }
}
.choose-us {
    padding-top: 120px;
    position: relative;

    .bg-color{
        height: 420px;
        width: 50%;
        background-color: #F0EFE9;

        position: absolute;
        right: 0;
        bottom: 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    

        .left-column {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .info-box {
                display: flex;
                align-items: center;
                gap: 30px;

           
             }
        }

        .right-column {
            display: flex;
            justify-content: center;
            align-items: center;
            
    
            img {
                margin-left: 40%;
                z-index: 1;
            }         
        }
    }   
}
.project-and-case {
    padding-top: 120px;
    padding-bottom: 90px;
    .container {

        .style-h2 {
           text-align: center;
           margin-bottom: 5rem;
        }

        .project-cases {

            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;

            article {

                img {
                    width: 100%;
                    height: auto;
                }
    
                h4 {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: bold;
                    padding-top: 30px;
                    padding-bottom: 16px;
                    border-bottom: 2px solid #DAD9D3;
                }
    
                a {
                    padding: 15px;
                    display: block;
                    text-align: right;
                    margin-right: 16px;
                    text-decoration: none;
                    color: #191919;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 400;

                    i {
                        margin-left: 8px;
                    }
                   
                }
            }
            
        }

        .btn-recent-projects {
            text-align: center;
            padding-top: 2rem;
        }
    }
}
.meet-us {
    padding-top: 120px;
    padding-bottom: 90px;
    background-color: #F0D082;

    .container {
    
        .content {

            .browse-team {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 5rem;

                .btn-browse {
                    border: 1px solid #191919;
                    border-radius: 25px;
                }
            }


        .members {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .info-box {

                h4 {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: bold;
                }

                p {
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
        }

        .dots {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 3rem;
            border-bottom: 2px solid rgb(25, 25, 25, 0.10);
            padding-bottom: 5rem;
            
        }
    }
}
.testimonial {
    padding-top: 120px;
    background-color: #F0D082;

    .container {
        max-width: 1520px;
        background-color: #ffff;

        .style-h2 {
            text-align: center;
            padding-top: 5.6rem;
           
        }

        .reviews {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 9.5rem;
            padding: 5.6rem;
            padding-bottom: 4.8rem;
        
            .box-content {
                img  {
                    padding-bottom: 2rem;
                }

                p {
                    padding-bottom: 2rem;
                }
            }
           
            .client {
                display: flex;
                

                img {
                    margin-right: 1.25rem;
                }

                h4 {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: bold;
                }

                p {
                    color: #F94D1C;
                }
            }

        }

        .btn {
           display: flex;
           justify-content: center;
           align-items: center;
        }
    }
}
.articles-news {
    padding-top: 90px;

    .container {
        .content-header {
            display: flex;
            justify-content: space-between;

            h2 {
                font-family: 'DM Sans', sans-serif;
                font-size: 45px;
                font-weight: bold;
                margin-bottom: 2.5rem;
            }   
        }

        .articles {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 2rem;

            .box-img {
                width: 100%;
                position: relative;  
    
                .box-color {
                    display: inline-block;
                    padding: 1rem;
                    padding-bottom: 0.2rem;
                    background-color:  #F0D082;
    
                    position: absolute;
                    left: 1rem;
                    top: 1rem;

                    span {
                        text-align: center;
                        font-family: 'DM Sans', sans-serif;
                        font-size: 22px;
                        font-weight: bold;
                    }

                    p {
                        text-align: center;
                        margin: 0;
                        margin-top: -0.5rem;
                    }
                }
            }
            .box-info {
                margin-top: 1.5rem;

                h4 {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: bold;
                    width: 80%;
                    margin-top: 1.5rem;
                }
                p {
                    margin-top: 1rem;
                }
            }    
        }
        .dots {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 4.3rem;
            padding-bottom: 5.6rem;    
        }
    }
}
.signup {
    padding: 7.5rem;
    background-color: #F0EFE9;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        form {
            
            input {
                padding: 12px 30px;
                border-radius: 25px;
                outline: none;
                border: none;
                margin-right: 1rem;

                &:hover {
                    border: 1px solid #191919;
                }
            }
        }
    }
}
.crito-footer {
    padding-top: 120px;
    padding-bottom: 30px;
    background-color: #191919;
    color:#f8f8f8;
    

    .container {
         
        .content {  
            padding-bottom: 80px;

            .footer-boxes {             
                display: grid;
                grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
                gap: 5rem;

                .box-logotype {
    
                    img {
                        margin-bottom: 1.2rem;
                    }

                    p{
                        color: #707070;
                    }
                }

                .box {
                    padding-top: 1.2rem;
                    font-size: 500;
                    justify-content: space-between;

                    h4{
                        font-family: 'DM Sans', sans-serif;
                        font-size: 22px;
                        font-weight: bold;
                        margin-bottom: 2.5rem;
                    }

                    p {
                        color: #707070;
                    }

                }
            }
        }
        
    }

    .copyrights-socialmedia {
        border-top: 2px solid #707070;
        padding-top: 50px;
        padding-bottom: 0; 
        
        
        .container {
            display: flex;
            justify-content: space-between;
                
            .copyrights {
                color: #707070;
            }

            .social-media {
                
                a {
                    color: #ffff;
                    margin: 8px;
                    font-size: 18px;
                }
            }
        }
    }


}