@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");
html, body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #191919;
}

.style-h2 p {
  font-size: 18px;
  color: #F94D1C;
  margin-bottom: 20px;
}
.style-h2 h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: bold;
}

.btn {
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn i {
  margin-left: 8px;
}

.btn.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
}
.btn.btn-yellow:hover {
  background-color: #191919;
  border-color: #191919;
  color: #f8f8f8;
}

.btn.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
}
.btn.btn-transparent:hover {
  background-color: #191919;
  color: #f8f8f8;
}

.btn.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #f8f8f8;
}
.btn.btn-black:hover {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
}

header {
  background-color: #F0EFE9;
  padding: 15px;
}
header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
header .container .menu {
  flex: 1;
}
header .container .menu .contact-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #DAD9D3;
  padding-bottom: 10px;
}
header .container .menu .contact-menu .contact-information {
  display: flex;
  align-items: center;
}
header .container .menu .contact-menu .contact-information .content {
  padding: 0px 25px 0px 0px;
  border-right: 2px solid #DAD9D3;
  margin-right: 25px;
}
header .container .menu .contact-menu .contact-information .content i {
  font-size: 1.3em;
  margin-right: 8px;
}
header .container .menu .contact-menu .contact-information .content.last {
  border: none;
}
header .container .menu .contact-menu .social-media a {
  color: #191919;
  font-size: 1.3em;
  margin: 8px;
}
header .container .menu .contact-menu .social-media a:hover {
  color: #afafaf;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
header .container .menu .main-menu nav a {
  text-decoration: none;
  color: #191919;
  margin-right: 30px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 40%;
  bottom: -3px;
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  align-items: center;
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 86px;
  font-weight: bold;
}
.showcase .container .content p {
  font-size: 20px;
}
.showcase .container .content a {
  margin: 20px 20px 0px 0px;
}
.showcase .container img {
  margin-right: -60px;
}

.logotype {
  padding-top: 120px;
  padding-bottom: 90px;
}
.logotype .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features {
  padding-top: 90px;
  padding-bottom: 90px;
}
.features .container {
  padding: 60px;
}
.features .container .features-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.features .container .features-content p {
  font-size: 18px;
  color: #F94D1C;
}
.features .container .features-content h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: bold;
}
.features .container .features-content a {
  display: block;
  text-align: center;
  margin-top: 15%;
}
.features .container .features-content .box-info {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin-left: 10%;
}
.features .container .features-content .box-info .box img {
  margin-bottom: 30px;
}
.features .container .features-content .box-info .box h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.features .container .features-content .box-info .box p {
  color: #191919;
}

.about-company {
  display: flex;
  padding-top: 120px;
  padding-bottom: 90px;
}
.about-company .container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.about-company .container .column-left {
  position: relative;
}
.about-company .container .column-left .founder {
  background-color: #BEEBFF;
  height: 180px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 16px;
  position: absolute;
  left: -60px;
  bottom: 10%;
}
.about-company .container .column-left .founder .box {
  display: flex;
  align-items: center;
}
.about-company .container .column-left .founder .box h5 {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.about-company .container .column-left .founder .box p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #F94D1C;
  margin-left: 8px;
  margin-bottom: 6px;
}
.about-company .container .column-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 100%;
  padding: 0 10%;
}
.about-company .container .column-right .buttons {
  align-items: center;
  margin-bottom: 30px;
}
.our-services {
  padding-top: 120px;
  padding-bottom: 90px;
  background-color: #F0EFE9;
}
.our-services .container .style-h2 {
  margin-bottom: 50px;
}
.our-services .container .service-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding: 30px;
}
.our-services .container .service-boxes .business-box {
  background-color: #f8f8f8;
  padding: 30px;
  position: relative;
}
.our-services .container .service-boxes .business-box.active::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 40px;
  background-color: #191919;
  left: 30px;
  top: 40px;
}
.our-services .container .service-boxes .business-box h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-top: 50px;
}
.our-services .container .service-boxes .business-box p {
  margin-bottom: 50px;
}
.our-services .container .service-boxes .business-box a {
  display: block;
  text-align: right;
  color: #191919;
}
.our-services .container .service-boxes .business-box a i {
  font-size: 2em;
}
.our-services .container .service-boxes .startup-box {
  background-color: #F9D783;
  padding: 30px;
  position: relative;
}
.our-services .container .service-boxes .startup-box.active::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 40px;
  background-color: #191919;
  left: 30px;
  top: 40px;
}
.our-services .container .service-boxes .startup-box h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-top: 50px;
}
.our-services .container .service-boxes .startup-box p {
  margin-bottom: 50px;
}
.our-services .container .service-boxes .startup-box a {
  display: block;
  text-align: right;
  color: #191919;
}
.our-services .container .service-boxes .startup-box a i {
  font-size: 2em;
}
.our-services .container .service-boxes .financial-box {
  background-color: #f8f8f8;
  padding: 30px;
  position: relative;
}
.our-services .container .service-boxes .financial-box.active::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 40px;
  background-color: #191919;
  left: 30px;
  top: 40px;
}
.our-services .container .service-boxes .financial-box h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-top: 50px;
}
.our-services .container .service-boxes .financial-box p {
  margin-bottom: 50px;
}
.our-services .container .service-boxes .financial-box a {
  display: block;
  text-align: right;
  color: #191919;
}
.our-services .container .service-boxes .financial-box a i {
  font-size: 2em;
}
.our-services .container .service-boxes .risk-box {
  background-color: #f8f8f8;
  padding: 30px;
  position: relative;
}
.our-services .container .service-boxes .risk-box.active::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 40px;
  background-color: #191919;
  left: 30px;
  top: 40px;
}
.our-services .container .service-boxes .risk-box h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-top: 50px;
}
.our-services .container .service-boxes .risk-box p {
  margin-bottom: 50px;
}
.our-services .container .service-boxes .risk-box a {
  display: block;
  text-align: right;
  color: #191919;
}
.our-services .container .service-boxes .risk-box a i {
  font-size: 2em;
}
.our-services .btn-browse {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-services .btn-browse a {
  margin-top: 30px;
}

.choose-us {
  padding-top: 120px;
  position: relative;
}
.choose-us .bg-color {
  height: 420px;
  width: 50%;
  background-color: #F0EFE9;
  position: absolute;
  right: 0;
  bottom: 0;
}
.choose-us .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.choose-us .container .left-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.choose-us .container .left-column .info-box {
  display: flex;
  align-items: center;
  gap: 30px;
}
.choose-us .container .right-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose-us .container .right-column img {
  margin-left: 40%;
  z-index: 1;
}

.project-and-case {
  padding-top: 120px;
  padding-bottom: 90px;
}
.project-and-case .container .style-h2 {
  text-align: center;
  margin-bottom: 5rem;
}
.project-and-case .container .project-cases {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.project-and-case .container .project-cases article img {
  width: 100%;
  height: auto;
}
.project-and-case .container .project-cases article h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 16px;
  border-bottom: 2px solid #DAD9D3;
}
.project-and-case .container .project-cases article a {
  padding: 15px;
  display: block;
  text-align: right;
  margin-right: 16px;
  text-decoration: none;
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.project-and-case .container .project-cases article a i {
  margin-left: 8px;
}
.project-and-case .container .btn-recent-projects {
  text-align: center;
  padding-top: 2rem;
}

.meet-us {
  padding-top: 120px;
  padding-bottom: 90px;
  background-color: #F0D082;
}
.meet-us .container .content .browse-team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.meet-us .container .content .browse-team .btn-browse {
  border: 1px solid #191919;
  border-radius: 25px;
}
.meet-us .container .content .members {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meet-us .container .content .members .info-box h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.meet-us .container .content .members .info-box p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.meet-us .container .dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  border-bottom: 2px solid #191919;
  padding-bottom: 5rem;
}

.testimonial {
  padding-top: 120px;
  background-color: #F0D082;
}
.testimonial .container {
  max-width: 1520px;
  background-color: #f8f8f8;
}
.testimonial .container .style-h2 {
  text-align: center;
  padding-top: 5.6rem;
}
.testimonial .container .reviews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 9.5rem;
       column-gap: 9.5rem;
  padding: 5.6rem;
  padding-bottom: 4.8rem;
}
.testimonial .container .reviews .box-content img {
  padding-bottom: 2rem;
}
.testimonial .container .reviews .box-content p {
  padding-bottom: 2rem;
}
.testimonial .container .reviews .client {
  display: flex;
}
.testimonial .container .reviews .client img {
  margin-right: 1.25rem;
}
.testimonial .container .reviews .client h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.testimonial .container .reviews .client p {
  color: #F94D1C;
}
.testimonial .container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles-news {
  padding-top: 90px;
}
.articles-news .container .content-header {
  display: flex;
  justify-content: space-between;
}
.articles-news .container .content-header h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 2.5rem;
}
.articles-news .container .articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.articles-news .container .articles .box-img {
  width: 100%;
  position: relative;
}
.articles-news .container .articles .box-img .box-color {
  display: inline-block;
  padding: 1rem;
  padding-bottom: 0.2rem;
  background-color: #F0D082;
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.articles-news .container .articles .box-img .box-color span {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.articles-news .container .articles .box-img .box-color p {
  text-align: center;
  margin: 0;
  margin-top: -0.5rem;
}
.articles-news .container .articles .box-info {
  margin-top: 1.5rem;
}
.articles-news .container .articles .box-info h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
  width: 80%;
  margin-top: 1.5rem;
}
.articles-news .container .articles .box-info p {
  margin-top: 1rem;
}
.articles-news .container .dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4.3rem;
  padding-bottom: 5.6rem;
}