@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');

html, body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #191919;
}
.style-h2 {

    p {
        font-size: 18px;
        color: #F94D1C;
        margin-bottom: 20px;
    }
    
    h2 { 
        font-family: 'DM Sans', sans-serif;
        font-size: 45px;
        font-weight: bold;
    }
}
.style-h4 {

    h4 {
        font-family: 'DM Sans', sans-serif;
        font-size: 22px;
        font-weight: bold;
    }
}
.btn {
    text-decoration: none;
    padding: 12px 25px;
    font-weight: 600; 
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.3s ease-in-out;

    i{
        margin-left: 8px;
    }
}
.btn.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;

    &:hover {
        background-color: #191919;
        border-color: #191919;
        color: #f8f8f8
    }
}
.btn.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;

    &:hover {
        background-color: #191919;
        color: #f8f8f8
    }
}
.btn.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #f8f8f8;

    &:hover {
        background-color: transparent;
        border: 1px solid #191919;
        color: #191919;
    }

}
header {
    background-color: #F0EFE9;
    padding: 16px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;

        .menu-bar {
            font-size: 35px;

            @media (min-width: 992px) {
                display: none;
            }
        }
        .menu {
            flex: 1;
            display: none;

            @media (min-width: 992px) {
                display: block;
            }

            .contact-menu {
               display: flex;
               justify-content: space-between;
               align-items: center;
               border-bottom: 2px solid #DAD9D3;
               padding-bottom: 10px;

                .contact-information {
                    display: flex;
                    align-items: center;
                    
                    .content {
                        padding: 0px 25px 0px 0px;
                        border-right: 2px solid #DAD9D3;
                        margin-right: 25px;

                        i{
                            font-size: 1.3em;
                            margin-right: 8px;
                        }

                        &.last {
                            border: none;
                        }
                    }
                }
                .social-media {

                    a {
                        color: #191919;
                        font-size: 1.3em;
                        margin: 8px;

                        &:hover {
                            color: #8d8d8d;
                            border-bottom: 3px solid #191919;
                            transition: ease-in-out 0.2s;
                        }
                    }
                }
            }
            .main-menu {
                display: flex;
                justify-content:space-between;
                align-items: center;
                padding-top: 20px;

                nav {

                     a {
                        text-decoration: none; 
                        color: #191919;
                        margin-right: 30px;
                        position: relative;

                        &.active {
                            font-weight: 500;
                        }

                        &.active::after,
                        &:hover::after {
                            content: '';
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 40%;
                            bottom: -3px;
                        }
                    }
                }
            }          
        }
    }
}
.showcase {
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;

    .wavy-lines-left {
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            // align-items: center;
            flex: 1;
            text-align: center;
            padding-top: 5.6rem;

            @media (min-width: 992px) {
                display: block;
                justify-content: center;
                text-align: start;
                }
            h1 {
                font-family: 'DM Sans', sans-serif;
                font-size: 86px;
                font-weight: bold;
                }
            p {
                font-size: 20px;
                }
            a {
                margin: 20px 20px 0px 0px;             
            }
        }
        img { 
            display: none;

            @media (min-width: 1200px) {
                display: block;
                margin-right: -50px;
            }
        }
    }
}
.logotype {
    padding-top: 7.5rem;

    .container {
        display: flex;
        justify-content: space-between;  
    }
}
.features {
    padding-top: 5.6rem;

    .container {
        max-width: 1520px;
        padding: 110px;

        .features-content {
            flex: 1;
            // justify-content: space-between;
            // align-items: start;

            @media (min-width: 992px) {
                display: flex;
                justify-content: space-between;
                align-items: start;
            }

            h2 {
                max-width: 37.5rem;
            }
            a {
                display: block;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 30px;
            }
            .box-info {
                justify-content: center;
                align-items: center;
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 40px;
                column-gap: 50px;
                margin-left: 10%; 

               .box {

                img {
                    margin-bottom: 30px;
                }
                h4 {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: bold;
                }
                p {
                    color: #191919;
                }
               }
            }
            @media (min-width:776px) {
                .box-info {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }
}
.about-company {
    padding-top: 7.5rem;
    padding-bottom: 5.6rem;
    .container {
        .content {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: 
                            "style-h2"
                            "text-box"
                            "text-box"
                            "buttons";
                           
                @media (min-width: 1200px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: 
                            "box-left style-h2"
                            "box-left text-box"
                            "box-left text-box"
                            "box-left buttons";
                            }
            position: relative;

            .box-left {
                display: none;

                    @media (min-width: 1200px) {
                        display: grid;
                        grid-area: box-left;
                        width: 100%;
                    }
            }
            .style-h2 {
                grid-area: style-h2;
                padding:0 4rem;
            }
            .text-box {
                grid-area: text-box;
                padding:0 4rem;
            }
            .buttons {
                grid-area: buttons;
                display: flex;
                justify-content: start;
                align-items: center;
                padding:0 4rem;
                
                .btn-video {   
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    i {
                        font-size: 45px;
                        font-weight: 100;
                        margin-right: 16px;

                        &:hover {
                            font-weight: 700;
                            color: #c2c1be;
                            transition: 0.2s ease-in-out;
                        }
                    }
                }
            }
            .founder {
                display: none;
                
                background-color: #BEEBFF;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                width: 368px;
                height: 180px;
                padding: 40px 20px;

                position: absolute;
                left: -55px;
                bottom: 40px;

                @media (min-width: 1200px) {
                    display: block;
                }
                .box-blue {
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    h4 {
                        font-family: 'DM Sans', sans-serif;
                        font-size: 20px;
                        font-weight: bold;
                        margin-right: 8px;
                    }
                    p {
                        font-family: 'DM Sans', sans-serif;
                        font-size: 16px;
                        font-weight: bold;
                        color: #F94D1C;
                        margin: 0 0 6px;
                    }
                }
            }
        }
    }
}
.our-services {
    padding-top: 7.5rem;
    padding-bottom: 5.6rem;
    background-color: #F0EFE9;
    position: relative;

    .wavy-lines-right {
        position: absolute;
        right: 0;
        bottom: 0;

    }
    .container {

        .style-h2 {
            margin-bottom: 50px;
        }

        .service-boxes {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            gap: 30px;

            @media (min-width: 776px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                column-gap: 30px;
            }

            @media (min-width: 992px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                column-gap: 30px;
            }

            @media (min-width: 1200px) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: auto;
                column-gap: 30px;
            }
            
            .business-box{
                background-color: #f8f8f8;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                padding: 30px;
                position: relative;

                    &.active::after {
                        content: '';
                        position: absolute;
                        font-weight: 500;
                        height: 2px;
                        width: 40px;
                        background-color: #191919;
                        left: 30px;
                        top: 40px;
                    }
                h4 {
                    margin-top: 50px;
                }
                p {
                    margin-bottom: 3rem;
                }
                .arrow {
                    text-align: right;
                    
                    a {
                        color: #191919;
                    
                        &:hover {
                            color: #F9D783;
                            transition: 0.2s ease-in-out;
                        }
    
                        i {
                            font-size: 2.5em;  
                        }
                    }
                }
            }
            .startup-box{
                background-color: #F9D783;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                padding: 30px;
                position: relative;

                    &.active::after {
                        content: '';
                        position: absolute;
                        font-weight: 500;
                        height: 2px;
                        width: 40px;
                        background-color: #191919;
                        left: 30px;
                        top: 40px;
                    }
                h4 {
                    margin-top: 50px;
                }
                p {
                    margin-bottom: 3rem;
                }
               .arrow {
                    text-align: right;
                    
                    a {
                        color: #ffffff;

                        &:hover {
                            color: #191919;
                            transition: 0.2s ease-in-out;
                        }
                        i {
                        font-size: 2.5em;
                        }
                    }
                }
            }
            .financial-box{
                background-color: #f8f8f8;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                padding: 30px;
                position: relative;

                    &.active::after {
                        content: '';
                        position: absolute;
                        font-weight: 500;
                        height: 2px;
                        width: 40px;
                        background-color: #191919;
                        left: 30px;
                        top: 40px;
                    }
                h4 {
                    margin-top: 50px;
                }
                p {
                    margin-bottom: 3rem;
                }
               .arrow {
                    text-align: right;
                    
                    a {
                        color: #191919;

                        &:hover {
                            color: #F9D783;
                            transition: 0.2s ease-in-out;
                        }
                        i {
                            font-size: 2.5em;
                        }
                    }
                }
            }
            .risk-box{
                background-color: #f8f8f8;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                padding: 30px;
                position: relative;

                    &.active::after {
                        content: '';
                        position: absolute;
                        font-weight: 500;
                        height: 2px;
                        width: 40px;
                        background-color: #191919;
                        left: 30px;
                        top: 40px;
                    }
              h4 {
                margin-top: 50px;
               }
              p {
                margin-bottom: 3rem;
               }
                .arrow {
                    text-align: right;
        
                    a {
                        color: #191919;

                        &:hover {
                            color: #F9D783;
                            transition: 0.2s ease-in-out;
                        }
                        i {
                            font-size: 2.5em;
                        }
                    }
                }
            }
        }
    }
    .btn-browse {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            margin-top: 50px;
        }
    }
}
.choose-us {
    padding-top: 7.5rem;
    position: relative;

    .bg-color{
        display: none;

        @media (min-width: 1200px) {
            display: block;
            height: 420px;
            width: 50%;
            background-color: #F0EFE9;

            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-column {
            width: auto;
            display: flex;
            flex-direction: column;
            gap: 30px;

            @media (min-width: 992px) {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 30px;
            }

            .info-box {
                display: flex;
                align-items: center;
                gap: 30px;         
            }
        }
        .right-column {
            display: none;


            @media (min-width: 992px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
              
            img {
                width: 100%;
                margin-left: 30%;
                z-index: 1;
            }         
        }
    }   
}
.project-and-case {
    padding-top: 7.5rem;
    padding-bottom: 5.6rem;
    .container {

        .style-h2 {
           text-align: center;
           margin-bottom: 5rem;
        }
        .project-cases {

            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width: 992px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
            }

            article {

                img {
                    width: auto;
                    height: auto;
                } 
                h4 {
                    padding-top: 30px;
                    padding-bottom: 16px;
                    border-bottom: 2px solid #DAD9D3;
                }  
                .button-read {
                    text-align: right;
                    margin-bottom: 2rem;
                    margin-top: 1.5rem;

                    a {
                        
                        padding: 15px;
                        margin-right: 16px;
                        text-decoration: none;
                        color: #191919;
                        font-family: 'Inter', sans-serif;
                        font-size: 16px;
                        font-weight: 400;

                        &:hover {
                            font-weight: 600;
                            transition: ease-in-out 0.2s;
                        }
    
                        i {
                            font-size: 20px;
                            font-weight: 700;
                            margin-left: 8px;
                        }                
                    }
                }
            }         
        }
        .btn-recent-projects {
            text-align: center;
            padding-top: 2rem;
        }
    }
}
.meet-us {
    padding-top: 7.5rem;
    padding-bottom: 5.6rem;
    background-color: #F0D082;

    .container { 

        .content {

            .browse-team {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 5rem;

                .btn-browse {
                    border: 1px solid #191919;
                    border-radius: 25px;
                }
            }
        .members {
            flex: 1; 

            @media (min-width: 776px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                gap: 30px;
            }

            @media (min-width: 992px) {
                display: flex;
                justify-content: space-between;
                align-items: center
            }

            .info-box {
                h4 {
                    margin-top: 30px;
                }
                p {
                    font-weight: 500;
                }
            }
        }
        }
        .dots {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 3rem;
            border-bottom: 2px solid rgb(25, 25, 25, 0.10);
            padding-bottom: 5rem;           
        }
    }
}
.testimonial {
    padding-top: 3.7rem;
    padding-bottom: 3.7rem;
    background-color: #F0D082;

    .container {
        max-width: 1520px;
        background-color: #ffff;

        .style-h2 {
            text-align: center;
            padding-top: 5.6rem;           
        }
        .reviews {
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 9.5rem;
            padding: 5.6rem;
            padding-bottom: 4.8rem;

            @media (min-width: 776px) {
                display: grid;
                grid-template-columns: 1fr;
                column-gap: 9.5rem;
                padding: 5.6rem;
                padding-bottom: 4.8rem;
                }

            @media (min-width: 992px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 9.5rem;
                padding: 5.6rem;
                padding-bottom: 4.8rem;
                }

            @media (min-width: 1200px) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 9.5rem;
                padding: 5.6rem;
                padding-bottom: 4.8rem;
                }
        
            .box-content {
                img  {
                    padding-bottom: 2rem;
                }
                p {
                    padding-bottom: 2rem;
                }
            }          
            .client {
                display: flex;

                img {
                    margin-right: 1.25rem;
                }
                p {
                    color: #F94D1C;
                }
            }
        }
        .btn {
           display: flex;
           justify-content: center;
           align-items: center;
           margin-bottom: 5.6rem;
        }
    }
}
.articles-news {
    padding-top: 5.6rem;

    .container {
        .content-header {
            display: flex;
            justify-content: space-between;

            h2 {
                font-family: 'DM Sans', sans-serif;
                font-size: 45px;
                font-weight: bold;
                margin-bottom: 2.5rem;
            }   
        }
        .articles {
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 2rem;

            @media (min-width: 776px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 2rem;
            }

            @media (min-width: 992px) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 2rem;
            }

            .box-img {
                width: 100%;
                position: relative;  
    
                .box-color {
                    display: inline-block;
                    padding: 1rem;
                    padding-bottom: 0.2rem;
                    background-color:  #F0D082;
    
                    position: absolute;
                    left: 1rem;
                    top: 1rem;

                    span {
                        text-align: center;
                        font-family: 'DM Sans', sans-serif;
                        font-size: 22px;
                        font-weight: bold;
                    }
                    p {
                        text-align: center;
                        margin: 0;
                        margin-top: -0.5rem;
                    }
                }
            }
            .box-info {
                margin-top: 1.5rem;

                h4 {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: bold;
                    width: 80%;
                    margin-top: 1.5rem;
                }
                p {
                    margin-top: 1rem;
                }
            }    
        }
        .dots {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 4.3rem;
            padding-bottom: 5.6rem;    
        }
    }
}
.signup {
    padding: 7.5rem;
    background-color: #F0EFE9;
    position: relative;

    .wavy-lines-right {
        position: absolute;
        right: 0;
        bottom: 4rem;
    }

    .container {
        flex: 1;
        // justify-content: space-between;
        // align-items: center;

        @media (min-width: 992px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            }

        .style-h2 {
            margin-bottom: 30px;

            @media (min-width: 992px) {
                margin-bottom: 0;
            }
        }
        
        form {          
            input {
                padding: 12px 30px;
                border-radius: 25px;
                outline: none;
                border: none;
                margin-bottom: 10px;

                @media (min-width: 776px) {
                    margin-right: 1rem;
                    margin-bottom: 10px;
                }

                @media (min-width: 992px) {
                    margin-right: 1rem;
                    margin-bottom: 10px;
                }

                &:hover {
                    border: 1px solid #191919;
                }
            }
        }
    }
}
.crito-footer {
    padding-top: 7.5rem;
    padding-bottom: 1.8rem;
    background-color: #191919;
    color:#f8f8f8;
    position: relative;

    .wavy-lines-right {
        position: absolute;
        right: 0;
        bottom: 6.7rem;
    }
    
    .container {       
        .content {  
            padding-bottom: 5rem;

            .footer-boxes {             
                display: grid;
                grid-template-columns: 2fr;
                gap: 5rem;

                @media (min-width: 992px) {
                    display: grid;
                    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
                    gap: 5rem;
                    }

                .box-logotype {  
                    img {
                        margin-bottom: 1.2rem;
                    }
                    p{
                        color: #707070;
                    }
                }
                .box {
                    padding-top: 1.2rem;
                    font-size: 500;
                    justify-content: space-between;

                    h4{
                        font-family: 'DM Sans', sans-serif;
                        font-size: 22px;
                        font-weight: bold;
                        margin-bottom: 2.5rem;
                    }
                    p {
                        color: #707070;
                    }
                }
            }
        }       
    }
    .copyrights-socialmedia {
        border-top: 2px solid #707070;
        padding-top: 3.1rem;
        padding-bottom: 0; 
               
        .container {
            display: flex;
            justify-content: space-between;
                
            .copyrights {
                color: #707070;
            }
            .social-media {              
                a {
                    color: #ffff;
                    margin: 8px;
                    font-size: 18px;

                    &:hover {
                        color: #8d8d8d;
                        border-bottom: 3px solid #ffffff;
                        transition: ease-in-out 0.2s;
                    }
                }
            }
        }
    }
}